<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display rides</title>
</head>
<body>
    <table border="1" class="tableform">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Phone Number</th>
          <th>Departure City</th>
          <th>Destination City</th>
          <th>Travel Date</th>
        </tr>
        <% data.forEach(traveler => { %>
          <tr>
            <td><%= traveler.id %></td>
            <td><%= traveler.name %></td>
            <td><%= traveler.phone_number %></td>
            <td><%= traveler.departure_city %></td>
            <td><%= traveler.destination_city %></td>
            <td><%= traveler.travel_date %></td>
          </tr>
        <% }); %>
      </table>
    
</body>
</html>